{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>My Portfolio</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"
	></script>
</head>
<body>
    {{ template "navbar" . }}
    <main>
        <section id="home">
            {{ template "home" . }}
        </section>
        <section id="projects">
            <!-- Projects section -->
        </section>
        <section id="about">
            <!-- About section -->
        </section>
        <section id="contact">
            <!-- Contact section -->
        </section>
    </main>
</body>
</html>
{{ end }}