{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/output.css" rel="stylesheet">
    <title>My Portfolio</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"
	></script>
</head>
<body>
    {{ template "navbar" . }}
    <main class="flex flex-col">
        <section id="home" class="flex-1 min-h-[80vh] bg-gray-100">
            {{ template "home" . }}
        </section>
        <section id="projects" class="flex-1 min-h-screen bg-gray-200">
            {{ template "projects" . }}
        </section>
        <section id="about" class="flex-1 min-h-screen bg-gray-300">
            <!-- About section -->
        </section>
        <section id="contact" class="flex-1 min-h-screen bg-gray-400">
            <!-- Contact section -->
        </section>
        <!-- Icons 
        <div class="flex-row pl-30 absolute fixed bottom-0 p-5 w-full">
            <span class="mdi--github"></span>
            <span class="mdi--linkedin"></span>
        </div> -->
    </main>
</body>
</html>
{{ end }}