{{ define "home" }}
<div class="flex flex-col text-black">
    <span class="mt-[13%] ml-[10%] font-black text-6xl pb-4">kasey_brice :=</span>
    <div class="relative overflow-hidden">
        <span class="ml-[19%] bg-clip-text text-transparent bg-gradient-to-b from-black to-purple-800/100 font-black text-6xl">"Software Developer"</span>
        <div class="bg-purple-high h-18 ml-[14%] bottom-0 -mt-8 w-0 max-w-full animate-line-grow"></div>
    </div>
    <div id="time-container" class="absolute right-80 top-50 font-black opacity-90"
        hx-get="/api/time" hx-trigger="load, every 60s">
    </div>
    <div class="absolute top-[80vh] font-black text-black opacity-90">
        <!-- Tap code / knock code -->
        44 34 12 15 54 34 45 42 43 15 31 21 24 33 11 52 34 42 31 14 44 23 11 44 24 43 13 34 33 43 44 11 33 44 31 54 44 42 54 24 33 22 44 34 32 11 13 15 54 34 45 43 34 32 15 44 23 24 33 22 15 31<br> 
        43 15 24 43 44 23 15 22 42 15 11 44 15 43 44 11 13 13 34 32 35 31 24 43 23 32 15 33 44 42 11 31 35 23 52 11 31 14 34 15 32 15 42 43 34 33 
    </div>
    <!-- <div class="flex-row pl-30 absolute top-[80vh]">
        <span class="mdi--github"></span>
        <span class="mdi--linkedin"></span>
    </div> -->
</div>
{{ end }}