{{ define "projects" }}
<div class="relative overflow-hidden">
    <div class="text-black text-4xl font-black mt-[15vh] ml-auto mr-[11em] w-fit">Projects</div>
    <div class="bg-purple-high h-8 bottom-0 -mt-5 ml-auto w-0 max-w-[36em] animate-line-grow"></div>
    <div class="ml-auto font-bold w-fit mr-[7.5em] pt-2.5">View all projects &rarr;</div>
</div>
<div class="grid grid-cols-2 gap-0 mx-auto ml-32 border-1 border-amber-800 max-w-[65em]">
    {{ range $index, $project := .FeaturedProjects }}
    <div class="max-w-[35em] {{ if eq (mod $index 2) 1 }}mt-16{{ end }} border-1 border-black">
        {{ template "sticky_note" $project }}
    </div>
    {{ end }}
</div>
{{ end }}